@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #1d0308, #6A1422);
}

main{
    background-color: #FDD8B5;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9B8043;
    width: 600px;
    padding: 10px;
    margin:auto;
}

h1{
    color: #6A1422;
    text-align: center;
    text-shadow: 1px 1px 2px;
}

h2{
    color: #6A1422;
}

p { 
    text-align: justify;
}                   


